<div class="body">
    <h1 class="topic"><br><br><br><br>Become a volunteer</h1><br>
    <form class="form" [formGroup]="volunteerDataForm">
      <span>
        <!-- <span>Select the project</span><br /><br /> -->
        <!-- <select>
          <option>Education</option>
          <option>Physical health</option>
          <option>Mental health</option>
          <option>Career</option>
          <option>Food</option>
          <option>Elders</option>
        </select> -->

        <mat-form-field class="row">
          <mat-select placeholder="Select the project" formControlName="project">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let project of projects" [value]="project">{{project}}</mat-option>
          </mat-select>
        </mat-form-field>
        
      </span>
      <br /><br>

      <span>
        <!-- <span>How can you help?</span><br /><br /> -->
        <mat-form-field class="row">
          <input
            matInput
            formControlName="description"
            placeholder="Ex: Online seminar"
            required/>
        </mat-form-field>
        <!-- <input type="text" name="help" /> -->
      </span>

      <br><br>
      <span>
        <!-- <span>Other</span><br /> -->
        <mat-form-field class="row">
          <input
            matInput
            formControlName="other"
            placeholder="Ex: Date & Time"
            />
        </mat-form-field>
        <!-- <input type="text" name="other" /><br /> -->
      </span>
      <br /><br>

      <span>
        <button mat-raised-button (click)="Save()">Save</button>
      </span>
    </form>
    <div>
      <img class="one" src="assets\dev.avif" />
      <img class="two" src="assets\vol.jpeg" />
    </div>
</div>
<div class="footer" style="position: relative;">
  <app-footer></app-footer>
</div>