header {
  padding: 55px;
  margin: 0px;
  width: -webkit-fill-available;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.menu {
  margin-bottom: -10px;
}

.menu .navi {
  padding: 0;
  margin: 0;
  text-align: end;
  margin-right: 25px;
}

.menu .navi .nav {
  color: #74767e;
  font-weight: 600;
  white-space: nowrap;
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 30px;
  font-family: Poppins;
  z-index: 1;
}

.menu .navi .nav:hover {
  color: #494a4f;
  cursor: pointer;
  /* transition: 0.4s ease-in-out; */
}

.menu .navi .nav:focus{
  color: #3e3f42 !important;
}

button {
  cursor: pointer;
  color: white;
  width: 100px;
  height: 40px;
  background-color: rgb(199, 79, 89);
  border-radius: 5px;
  opacity: 1;
  font-family: Poppins;
}

h3 {
  font-size: 30px;
  font-family: Poppins;
  margin-top: 1px;
  margin-left: -40px;
  position: fixed;
  /* background-image: linear-gradient(to right, rgb(2, 2, 216), #4e419a,rgb(115, 55, 119), #f951b6, violet); */
  /* background-image: linear-gradient(to right, rgb(98, 63, 21), rgb(132, 102, 65),rgb(194, 152, 101), rgb(203, 182, 156)); */
  background-image: linear-gradient(to right, rgb(69, 43, 45), rgb(150, 46, 55),rgb(199, 79, 89), rgb(208, 122, 129));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

h3:hover {
  cursor: pointer;
}

/* .logDropDown {
  background-color: rgb(236, 227, 227);
  color: #74767e;
  position: fixed;
  right: -500px;
  top: 85px;
  width: 140px;
  height: 130px;
  transition: 0.4s ease-in-out;
} */

/* .logDropDown li {
  font-size: 15px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgb(227, 222, 208);
} */

.icon {
  color: rgb(199, 79, 89);
  display: inline-block;
  position: relative;
  right: 0;
  top: 9px;
  font-size: small;
}

.icon i:nth-child(2) {
  margin: 4px 0;
}

.menuClass {
  right: 0;
  transition: 0.4s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .menu {
    position: absolute;
    right: 0;

    /* top: 64px; */
    /* background: rgb(244, 242, 237); */
  }
  .menu .navi .nav {
    color: #74767e;
    font-weight: 600;
    white-space: nowrap;
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 25px;
    margin-bottom: 8px;
  }
}
