
<div class="bg" align="center">

    <h1  style="margin-top: 30px; color: rgb(61, 60, 60);"><br>Let's make kindness matter. Let's Give Life, together.</h1>
    <div>
        
        <h2><b><br>Welcome to Give Life!</b></h2>
        <p>
            We're here to spread<br>kindness and help those who need it <br>in Sri Lanka.
        </p>
        <br>
        <button mat-raised-button routerLink="/donate" routerLinkActive="active">Donate</button>
    </div>
    
    <div style="margin-top: 50px;">
        <h2><b>Our Goal</b></h2>
        <p>
            At Give Life, we want to make things better for people in Sri Lanka who don't have much. <br>
            We believe that when we work together, we can make a big difference, even with small acts of kindness.
        </p>
    </div>
    
    <div style="margin-top: 50px;">
        <h2><b>What We Do</b></h2>
        <p>
            On our website, you can find different ways to help out.<br>
        We show you projects that help kids get food, <br>
        help families in need, and support education for those who can't afford it.
        </p>
    </div>
    
    <div style="margin-top: 50px;">
        <h2><b>Being Open and Clear</b></h2>
        <p>
            We think it's really important to be honest about what happens with the help you give. <br>
        That's why we promise to always show you how your kindness is making things better. <br>
        When you give through Give Life, you'll see the good you're doing.
        </p>
    </div>
    
    <div style="margin-top: 50px;">
        <h2><b>Join Us</b></h2>
        <p>
            Whether you're just one person <br>
        who cares or a company that wants to do good, Give Life is a place for you. <br>
        Together, we can bring smiles and change lives.
        </p>
        <button mat-raised-button routerLink="/volunteer" routerLinkActive="active">Become a volunteer</button>
    </div>
    

</div>
<div class="footer" style="position: relative;">
    <app-footer></app-footer>
</div>