<div class="body">
    
    <p class="topic"><br>Projects</p>
    
    <table border="0" align='center'>
        <tr>
            <td>
                <img src="..\..\assets\edu.jpg"><br>
                <b>Education</b>
            </td>
            <td>
                <img src="..\..\assets\health.jpg"><br>
                <b>Health</b>
            </td>
            <td>
                <img src="..\..\assets\Mhealth.jpeg"><br>
                <b>Counselling</b>
            </td>
            <td>
                <img src="..\..\assets\food.jpg"/><br>
                <b>Food</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="..\..\assets\job.jpg"><br>
                <b>Career</b>
            </td>
            <td>
                <img src="..\..\assets\womens.jpg"><br>
                <b>Women's right</b>
            </td>
            <td>
                <img src="..\..\assets\job2.jpeg"><br>
                <b>Entrepreneurship</b>
            </td>
            <td>
                <img src="..\..\assets\old.jpg"/><br>
                <b>Elder</b>
            </td>
        </tr>
    </table>
</div>

<div class="footer" style="position: relative;">
    <app-footer></app-footer>
</div>