<div>
    <button mat-icon-button style="float: right; margin: 1px" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    <p class="title">{{projectDetails.name}}</p>
    <p style="text-align: justify;">{{projectDetails.description}}</p>

    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Nethmi</td>
            <td>husgysnjk</td>
            <td>nethmi@gmail.com</td>
        </tr>
    </table>
</div>