.title {
    text-align: center;
    /* margin-top: 30px; */
    font-family: Poppins;
    font-weight: 1000;
    letter-spacing: 0px;
    color: rgb(199, 79, 89);
    opacity: 1;
    line-height: 1.5;
    font-size: x-large;
  }

  th {
    width: 160px;
    height: 40px;
  }