<div class="body">
  <form class="form" [formGroup]="donateDataForm">
    <div class="left">
      <table>
        <tr>
          <td>
            <h1 class="topic"><br /><br /><br /><br />Donate Now</h1>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field style="text-align: center">
              <mat-select placeholder="Donate to" formControlName="project">
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let project of projects"
                  [value]="project"
                  >{{ project }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <span>
              <button mat-raised-button class="amountBtn">LKR 1000</button
              >&nbsp;
              <button mat-raised-button class="amountBtn">LKR 2000</button
              >&nbsp;
              <button mat-raised-button class="amountBtn">LKR 5000</button
              >&nbsp;
              <button mat-raised-button class="amountBtn">LKR 10000</button>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field style="text-align: center">
              <input
                matInput
                type="number"
                formControlName="amount"
                placeholder="Amount"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <span>
              <input type="checkbox" />
              I would like to receive email updates from GiveLife about future
              work.
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span>
              <button mat-raised-button class="donateBtn" (click)="Save()">Donate</button>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 10px">
              PAYMENTS ACCEPTED VIA<br />
              <img
                src="..\..\assets\visa.png"
                style="height: 50px; width: 100px"
              />
            </p>
          </td>
        </tr>
      </table>
    </div>
  </form>

  <!-- <div class="left">
    <h1 class="topic"><br /><br /><br /><br />Donate Now</h1>
    <br />
    <form>
      <mat-form-field style="text-align: center">
        <mat-select placeholder="Select the project">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let project of projects" [value]="project">{{
            project
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field class="row">
        <input
          matInput
          type="number"
          formControlName="money"
          placeholder="Amount"
          required
        />
      </mat-form-field>
      <br />

      <span>
        <input type="checkbox" />
        I would like to receive email updates from GiveLife about future work.
      </span>
      <br />
      <span>
        <button mat-raised-button>Donate</button>
      </span>
    </form>
    <br />
    <p style="font-size: 10px">
      PAYMENTS ACCEPTED VIA<br />
      <img src="..\..\assets\visa.png" style="height: 50px; width: 100px" />
    </p>
  </div> -->
  <!-- <br><br> -->
  <table class="right">
    <tr>
      <td>
        <h2>Donate Via Bank Transaction</h2>
        <p>
          Make a donation to:<br />
          Bank: Bank of Ceylon<br />
          Account Name: Give Life<br />
          Account Number: ******633<br />
          Branch: Ratnapura Branch<br />
          Account Type: Current Account
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="color: rgb(156, 5, 5)">
          <br /><br />*You can donate via Dialog Star Points
        </h3>
      </td>
    </tr>
    <tr>
      <td>
        <span>
          <button mat-raised-button class="donorsBtn" routerLink="/donors" routerLinkActive="active" ariaCurrentWhenActive="page">View Donors</button>
        </span>
      </td>
    </tr>
  </table>
</div>
<div class="footer" style="position: relative">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>