<div class="background">
  <div>
    <!-- <div class="line" style="background-color: rgb(239, 238, 238); margin-top: 10px;">
      <br>
    </div> -->
    <h3>Give Hope for everyone</h3>
    <h1><b>Helping Each Other Can Make World Better</b></h1>
    <button mat-raised-button routerLink="/donate" routerLinkActive="active">
      Donate
    </button>
  </div>
  <div>
    <img class="two" src="assets\img2.jpg" />
    <img class="one" src="assets\img1.jpg" />
  </div>
</div>
<!-- <div class="footer" >
  <app-footer></app-footer>
</div> -->